.env
.vscode/
input/
output/
App/backend/input/
App/backend/output/
modules/speech/models/
modules/crawling/chromedriver.exe
models/
secrets/
.pytest_cache
__pycache__/
notebook/*

*.mp4
*.mp3
*.wav
*.srt
*.png
*.jpg
*.jfif
*.pdf
images/
data/

GEMINI.md