fastapi
uvicorn
python-multipart
ffmpeg-python
openai-whisper
opencv-python
transformers
google-cloud-speech
google-cloud-storage
google-api-python-client
google-auth-oauthlib
python-dotenv
numpy
Pillow
torch
pyannote.audio>=3.1.1
scipy
scikit-learn

pytest
pytest-asyncio
httpx
